@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@Html.DisplayName("4 Fit Club")</h3>

<p>Uma aplicação sobre exercícios de atividade física de todo o tipo.</p>
<br />
<p>Imagens multimédia utilizadas no trabalho não são de minha autoria. Foram usadas para fins académicos.</p>

