@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@Html.DisplayName("4 Fit Club")</h3>

<p>Uma aplicação sobre exercícios de atividade física variada.</p>
<p>Imagens multimédia utilizadas no trabalho não são de minha autoria. Foram usadas para fins académicos.</p>
<h4>Ícones:</h4>
<address>
    <a href="https://www.shutterstock.com/search/workout+icon" target="_blank">https://www.shutterstock.com/search/workout+icon</a><br />
    <a href="https://icons8.com/icon/set/workout/all" target="_blank">https://icons8.com/icon/set/workout/all</a><br />
    <a href="https://www.flaticon.com/" target="_blank">https://www.flaticon.com/</a>

</address>

<h4>Contas para uso de aplicação:</h4>
<p>Admin<br />User:admin@mail.pt<br />Password:123_Asd</p>
<p>Utilizador<br />User:david@mail.pt<br />Password:123_Asd</p>

