@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>

<address>
    David Moreno <br />
    Aluno 20165
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aluno20165@ipt.pt">aluno20165@ipt.pt</a><br />
</address>